#container{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	background-color:lightgrey;
	border:2px solid black;
	padding:10px;
	text-align:center;
	color:black;
}

#logo {
	background-color:yellow;
}

#nav{
	float:left;
	background-color:lightgrey;
	width:120px;
	min-height:300px;
	max-height:620px
	padding:5px;
	border:2px solid black;
}

#content{
	float:left;
	padding:20px;
	width:640px;
}

#ad{
	float:left;
	width:160px;
	min-height:620px;
	padding:10px;
	background-color:black;
	
}

#footer{
	clear:both;
	background-color:white;
	text-align:center;
	padding:20px;
	
}

#tabOfContent{
	text-align:center;
	color:black;
	font-weight: bold;
}

@media screen and (max-width:999px)
{
	#container{
		width:100%;
		
	}
	#graph1{
		width:100%;
	}
	#graph2{
		width:100%;
	}
	#graph3{
		width:100%;
	}
	
	#logo{
		width:100%;
	}
	#nav{
		width:100%;
	}
	#content{
		width:100%;
	}
	#ad{
		width:100%;
	}
	#footer{
		width:100%;
	}
	
}

@media screen and (max-width:640px)
{
	/* elementy ukladaja sie pod soba we wcesniejszym przypadku, wychodza za ramke*/
	
}